# Node dependencies
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Build outputs
**/dist
**/build
**/out
**/.next
**/.vercel

# IDE / System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Prisma
/server/prisma/*.db
/server/prisma/*.db-journal

# Testing
**/coverage

# Temporary files
**/tmp
**/.temp
**/.cache
